 <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-image: url(<%= image_path('church.jpg') %>);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

</style>
<% resource_class = User %>
<% devise_mapping = Devise.mappings[:user] %>

<h2>Login</h2>

<%= form_with(scope: :user, url: session_path(:user)) do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current_password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div>

      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div>
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>