<h1><%= link_to "Add Child", new_parent_child_path(@parent) %></h1>

<%= form_with(model: [@parent, @child], url: create_child_parent_path(@parent) do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :grade %>
    <%= form.text_field :grade %>
  </div>

  </div>
  <div>
    <%= form.label :food_allergies %>
    <%= form.text_field :food_allergies %>
  </div>

  <div>
    <%= form.label :special_medical_needs %>
    <%= form.text_field :special_medical_needs %>
  </div>

  <div>
    <%= form.label :emergency_contact %>
    <%= form.text_field :emergency_contact %>
  </div>

  <div>
    <%= form.submit "Add Child" %>
  </div>

  <div>
  <%= form.label :send_email, "Send confirmation email?" %>
  <%= form.check_box :send_email %>
</div>

  <%= link_to "No More Children to Add", parent_path(@parent), class: "no-more-children-button" %>

  <style>
.no-more-children-button {
  /* Add some basic styling to the button */
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  text-decoration: none;
  border-radius:
 5px;
}
</style>
<% end %>