<!-- app/views/parents/children/show.html.erb -->
<h1><%= @child.first_name %> <%= @child.last_name %></h1>
<p>Age: <%= @child.age %></p>
<p>Grade: <%= @child.grade %></p>
<p>Food Allergies: <%= @child.food_allergies %></p>
