<h1>Edit Check In</h1>

<%= form_with(model: @check_in, url: check_in_path(@check_in), method: :patch) do |form| %>
  <div>
    <%= form.label :child_id %>
    <%= form.collection_select :child_id, Child.all, :id, :full_name, selected: @check_in.child_id %>
  </div>

  <div>
    <%= form.label :volunteer_id %>
    <%= form.collection_select :volunteer_id, Volunteer.all, :id, :full_name, selected: @check_in.volunteer_id, include_blank: true %>
  </div>

  <div>
    <%= form.label :check_in_time %>
    <%= form.datetime_field :check_in_time %>
  </div>

  </div>
  <div>
    <%= form.submit "Update Check In" %>
  </div>
<% end %>