<h1>Add a Child</h1>

<%= form_with(model: [@parent, @child], url: create_child_parent_path(@parent), method: :post, local: true) do |form| %>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>
  <div>
    <%= form.label :grade %>
    <%= form.text_field :grade %>
  </div>
  <div>
    <%= form.label :food_allergies %>
    <%= form.text_field :food_allergies %>
  </div>
  <div>
    <%= form.label :special_medical_needs %>
    <%= form.text_field :special_medical_needs %>
  </div>
  <div>
    <%= form.label :emergency_contact %>
    <%= form.text_field :emergency_contact %>
  </div>
  <div>
    <%= form.submit "Add Child" %>
  </div>
  <%= link_to "Return to Home", root_path, class: "return-home-button" %>
<% end %>

