<h1>Edit Parent</h1>

<%= form_with(model: @parent, url: parent_path(@parent), method: :patch) do |form| %>
  </div>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.submit "Update Parent" %>
  </div>

  <%= link_to "Return to Home", root_path, class: "return-home-button" %>
<% end %>