<h1>All Parents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.full_name %></td>
        <td><%= parent.phone_number %></td>
        <td><%= parent.email %></td>
        <td>
          <%= link_to 'View', parent %>
          <%= link_to 'Add a Child', edit_parent_path(parent), data: { turbo: false } %>
          <%= link_to 'Delete', parent, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Parent', new_parent_path %>

<%= link_to "Return to Home", root_path, class: "return-home-button" %>