<head>
  <title>First Church of Awesome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
</head>


<body>
  <header>
    <nav>
      <ul class="nav-list">
        <li><%= link_to "Check In", new_parent_path %></li>
        <li><%= link_to "Manage Parents", parents_path %></li>
        <% if user_signed_in? %>
          <% if policy(:admin_dashboard).show? %>
            <li><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
          <% end %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { "turbo-method": :delete } %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
  </footer>
</body>
</html>